.questions {
   padding: 80px 0px;
   @media (max-width: 576.98px) {
      padding: 150px 0px 80px 0px;
   }
   // .questions__container

   &__container {
   }

   // .questions__title

   &__title {
      margin: 0px 0px 60px 0px;
      @media (max-width: 576.98px) {
         text-align: center;
      }
   }

   // .questions__subtitle

   &__subtitle {
      position: relative;
      margin: 0px 0px 10px 0px;
      @media (max-width: 576.98px) {
         font-weight: 500;
         font-size: 20px;
         line-height: 23px;
         margin: 0px 0px 10px 20px;
         &::before {
            content: "•";
            position: absolute;
            left: -20px;
         }
      }
   }

   // .questions__text

   &__text {
      margin: 0px 0px 35px 0px;
      @media (max-width: 576.98px) {
         margin: 0px 0px 35px 20px;
      }
   }

   // .questions__link

   &__link {
		text-align: center;
		margin: 70px 0px 0px 0px;
		a{
		color: #fff;
      background: #b5ca00;
      border-radius: 4px;
      padding: 20px 100px;
		}
      @media (max-width: 576.98px) {
         display: none;
      }
   }
}
